.about__container>h2 {
   font-size: 9.6rem;
   font-weight: var(--bold);
   line-height: 1.06;
   margin-bottom: 8rem;
   padding-left: 6rem;
}

.about__flex {
   display: flex;
   gap: 11.8rem;
}

.about__preface__container {
   flex: 0 0 32%;
   display: flex;
   flex-direction: column;
   gap: 18.7rem;
   font-size: 3.6rem;
   line-height: 1.26;
   font-weight: var(--semi-bold);
}

.about__preface {
   padding-left: 6rem;
}

.about__advantages__container {
   padding-right: 6rem;
}

.about__advantages {
   display: flex;
   gap: 7rem;
   flex-wrap: wrap;
}

.about__advantage__icon>picture>img {
   width: 10rem;
   height: 10rem;
}

.about__advantage {
   width: fit-content;
   flex: 0 0 42%;
}

.about__advantage__container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}


.about__advantage__info {
   display: flex;
   flex-direction: column;
   gap: 2rem
}

.about__advantage__info>h3 {
   font-size: 4.8rem;
   font-weight: var(--bold);
}

.about_info2>p {
   width: 90%;
}

.about_info3>h3 {
   width: 70%;
}

.about_info3>p {
   width: 90%;
}

.analitics__insights {
   width: 70%;
}

.about__advantage__info>p {
   font-size: 2.4rem;

}

@media (max-width: 426px) {
   .about__container>h2 {
      font-size: 4rem;
      margin-bottom: 3rem;
      padding-left: 1.6rem;
   }
   
   .about__flex {
      flex-direction: column;
   }

   .about__preface {
      font-size: 2.4rem;
      padding-left: 1.6rem;
      width: 76%;
   }

   .about__items {
      display: none;
   }

   .about__advantage {
      flex: 0 0 100%;
   }

   .about__advantages__container {
      padding-right: 2.3rem;
      padding-left: 1.6rem;
   }

   .about__advantage__info>h3 {
      font-size: 3.2rem;
   }

   .about__advantage__info>p {
      font-size: 1.6rem;
   }

   .about_info1>h3,
   .about_info1>p,
   .about_info2>h3,
   .about_info2>p,
   .about_info3>h3,
   .about_info3>p{
      width: 90%;
   }
   .about_info4>h3,
   .about_info4>p {
      width: 100%;
   }
}