.indicators {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--purple);
   padding: 4rem 0;
}

.indicators__list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10rem;
}

.indicator {
   flex: 0 0 20%;
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
}

.indicator__value {
   font-size: 6.4rem;
   line-height: 1.06;
   font-weight: var(--bold);
}

.indicator__describtion {
   font-size: 2.4rem;
   line-height: 1.2;
}

@media (max-width: 426px) {
   .indicators {
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 1.6rem;
   }

   .indicators__list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4rem;
   }

   .indicator {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2rem;
   }

   .indicator__value {
      font-size: 4rem;
   }

   .indicator__describtion {
      font-size: 2rem;
   }
}